@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import "mixins";
@import "cusel";

@base-font-size-px: 10;

@f: "Open Sans", sans-serif;
@clrBlue: #2f52b4;
@clrLightBlue: #4575d6;
@clrShadow: #f1f1f1;
@clrDarkGray: #646464;
@clrNormGray: #afafaf;
@clrLightGray: #eeeeee;
@allSideShadow: 0px 0px 0 2px @clrShadow;

.btnMoreSlim {
	max-width: 150px;
	color: @clrBlue;
	margin: 40px;
	border: none;
	padding: 0px;
	background-color: transparent;
}

html {
	font-size: @base-font-size-px+'px';
	// font-size: 100%;
}

body{
	font-family: @f;
	// text-align: center;
}

*{
	margin: 0;
	padding: 0;
}

input, a:focus, button:focus{
	outline: none;
}

h1, h2, h4 {
	font-weight: normal;
}

h3 {
	font-weight: bold;
}

h1, h3 {
	text-align: center;
}

img {
	display: inline-block;
	width: 100%;
	height: auto;
}

.container {
	h1 {
		.font-size(30);

		&.bigHeader {
			.font-size(40);
			margin-bottom: 10px;
		}
	}
}

#breadcrumbs {
	color: @clrNormGray;
	.font-size(14);
	margin-top: 20px;

	a {
		color: @clrLightBlue;
	}

	ul {
		list-style-type: none;

		li {
			display: inline-block;

			&:not(:first-child) {
				margin-left: 10px;

				&::before {
					content: "—";
					margin-right: 10px;
				}
			}
		}
	}
}

#to-top{
	position: fixed;
	bottom: 100px;
	left: 50%;
	margin-left: 585px;
	width: 60px;
	height: 60px;
	display: inline-block;
	background: #f1f1f1 url(../img/up.png) center 16px no-repeat;
	color: #2f52b6;
	font-size: 13px;
	padding-top: 27px;
	border: 1px solid #f1f1f1;
	text-align: center;
	text-decoration: none;
	display: none;
	&:hover{
		border-color: #3b5cba;
		background-color: #fff;
		text-decoration: none;
	}
	z-index: 10;
}

.share {
	margin-bottom: 35px;

	.shareButton {
		.font-size(15);
		.line-height(23);

		&::before {
			content: " ";
			display: inline-block;
			vertical-align: bottom;
			width: 26px;
			height: 23px;
			background: url(../img/share.png) center no-repeat;
			margin-right: 10px;
		}
	}
}

#pansions {
	h3 {
		color: @clrNormGray;
		.font-size(15);
		text-transform: uppercase;
	}

	.filters{
		margin-top: 11px;
		margin-bottom: 32px;

		form{
			.clearfix();
		}

		.sel-col{
			width: 68%;
			float: left;
			select{
				width: 33.15%;
			}
			.custom-sel{
				width: 33.15% !important;
				margin-right: 1px;
			}
		}

		.btn-col{
			width: 32%;
			float: left;
		}

		.sub{
			width: 100%;
			height: 40px;
			background: #2f52b7;
			border: 0;
			color: #fff;
			.font-size(15);
			&:hover{
				background: #4575d6;
			}
		}
	}

	.pansionCard {
		//margin: 0px;
		margin-bottom: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		outline: 1px solid @clrShadow;
		outline-offset: -15px;
		//box-shadow: @allSideShadow;
		.clearfix();
		> div {
			//height: 100%;
		}

		.pansionPhoto {
			position: relative;
			height: 100%;
			overflow: hidden;

			.photoControls {
				position: absolute;
				bottom: 40px;
				a {
					color: @clrBlue;
					display: inline-block;
					width: 40px;
					height: 40px;
					margin: 0px;
					border: none;
					background-color: rgba(255, 255, 255, 0.75);
					background-position: center;
					background-repeat: no-repeat;

					&:hover {
						background-color: #fff;
					}

					&.prevPhoto {
						background-image: url(../img/leftArrow.png);
					}

					&.nextPhoto {
						background-image: url(../img/rightArrow.png);
					}

					&.zoom {
						background-image: url(../img/plus.png);
					}
				}
			}

			.overlay{
				position: absolute;
				width: 50%;
				height: 100%;
				top: 0;
				right: -50%;
				opacity: 0;
				padding: 30px 15px 0;
				background: url(../img/overt.png) 0 0 repeat;
				.transition(all 0.4s ease 0s);
				.price{
					border-bottom: 1px solid #fff;
					font-size: 16px;
					color: #fff;
					padding-bottom: 10px;
					span{
						font-size: 24px;
					}
				}
				.desc{
					padding-top: 20px;
					font-size: 16px;
					line-height: 25px;
					color: #fff;
				}
			}
		}

		&.pansionCard-left{
			.pansionPhoto{
				.overlay{
					right: -50%;
				}
				&:hover{
					.overlay{
						right: 0;
						opacity: 1;
					}
				}
			}
			.photoControls{
				left: 40px;
			}
		}
		&.pansionCard-right{
			.pansionPhoto{
				.overlay{
					left: -50%;
				}
				&:hover{
					.overlay{
						left: 0;
						opacity: 1;
					}
				}
			}

			.photoControls{
				right: 40px;
			}
		}

		> div:last-child .pansionPhoto .photoControls {
			left: auto;
			right: 55px;
		}

		.pansionInfo {
			position: relative;
			height: 100%;
			padding: 40px;
			padding-top: 35px;
			height: 370px;
			text-align: left;

			.title {
				border-bottom: 1px solid @clrBlue;
				box-shadow: 0px 1px 0 0px @clrShadow;

				h2 {
					margin-top: 0px;
					margin-bottom: 15px;
					vertical-align: baseline;
					.font-size(20);
					.line-height(15);
					text-transform: uppercase;

					.tel {
						color: @clrDarkGray;
						float: right;
						display: inline-block;
						vertical-align: text-bottom;
						// font-size: 15px;
						.font-size(15);

						&:before {
							display: inline-block;
							vertical-align: bottom;
							width: 17px;
							height: 17px;
							margin-right: 5px;
							background-image: url('../img/phoneSm.png');
							background-repeat: no-repeat;
							background-position: center;
							content: "";
						}
					}
				}
			}

			p {
				color: @clrDarkGray;
				margin: 20px 0px;
				// font-size: 13px;
				.font-size(13);
			}

			.more {
				display: block;
				position: absolute;
				bottom: 40px;
				left: 40px;
				width: 220px;
				border: 1px solid @clrBlue;
				box-shadow: @allSideShadow;
				padding: 10px;
				background-color: transparent;
				color: @clrBlue;
				font-weight: 100;
				.font-size(15);
				.line-height(22);
				text-transform: uppercase;
				text-align: center;

				&.more-arrow:after {
					display: inline-block;
					margin-left: 10px;
					width: 8px;
					height: 21px;
					vertical-align: top;
					content: "";
					background: url(../img/rightArrow.png) center no-repeat;
				}

				&:hover:not(.more-link) {
					background-color: @clrBlue;
					text-decoration: none;
					color: #fff;

					&.more-arrow:after {
						background-image: url(../img/rightArrowWh.png);
					}
				}

				&.more-link {
					left:auto;
					right: 40px;
					border: none;
					text-transform: none;
					box-shadow: none;
					padding: 0px;
					width: 150px;
				}
			}
		}
	}
}

#services {
	background-color: @clrLightGray;
	position: relative;
	text-align: center;

	.serviceCard {
		position: relative;
		background-color: #fff;
		margin-bottom: 50px;
		padding-bottom: 80px;
		&:hover {
			box-shadow: 0px 1px 10px 1px @clrNormGray;
		}

		.servicePhoto {
			overflow-y: hidden;
		}

		.serviceInfo {
			height: 100px;
			h4 {
				margin: 20px 0px;
				color: black;
				.font-size(15);
			}

			hr {
				margin: 0px 85px;
				border: none;
				border-bottom: 1px solid @clrBlue;
				box-shadow: 0px 1px 0px 0px @clrShadow;
				.line-height(0);
			}

			p {
				margin: 15px 10px;
				color: @clrDarkGray;
				.font-size(13);
			}

			div.subBlock {
				position: absolute;
				bottom: 0px;
				width: 100%;

				.more {
					margin: 10px 0px 20px 0px;
				}
			}
		}

		.more{
			&:hover{
				text-decoration: underline;
			}
		}
	}

	.more {
		.btnMoreSlim;
		display: inline-block;
		text-transform: uppercase;

		span {
			display: block;
			width: 40px;
			height: 5px;
			// line-height: 5px;
			.line-height(5);
			margin: 0px auto;
			text-shadow: none;
		}
		&:hover{
			text-decoration: none;
			span{
				text-decoration: none;
			}
		}
	}

	.wrapper {
		display: none;
	}
}

#news {
	div.arrow {
		height: 10px;
		// padding-right: 30px;
		.line-height(0);
		text-align: center;

		span.arrow {
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 37.5px 0 37.5px;
				border-color: @clrLightGray transparent transparent transparent;
		}
	}

	h1 {
		margin-top: 30px;
		margin-bottom: 10px;
	}

	.newsCard {
		padding: 30px 0px 30px 15px;
		outline: 1px solid @clrLightGray;
		outline-offset: -15px;
		text-align: left;

		.newsPhoto {
			overflow-y: hidden;
		}

		.newsInfo {
			span {
				display: inline-block;
				color: @clrNormGray;
				.font-size(15);

				&:first-child {
					min-width: 140px;
				}

				&::before {
					display: inline-block;
					vertical-align: middle;
					margin-right: 12px;
					width: 22px;
					height: 22px;
					content: " ";
					// background-color: @clrDarkGray;
				}

				&.newsDate::before {
					background-image: url(../img/calendar.png);
				}

				&.newsComments::before {
					background-image: url(../img/comments.png);
				}
			}

			.newsTitle {
				margin-top: 20px;
				color: @clrBlue;
				.font-size(15);
				// line-height: 20px;
				.line-height(20);
			}
		}

		.newsText {
			padding: 20px 0;

			p {
				.line-height(13);
				display: inline-block;
				vertical-align: middle;
				padding-right: 10px;
				color: @clrDarkGray;
				.font-size(13);
			}
		}

		hr {
			clear: both;
			margin: 0px;
			margin-bottom: 15px;
			margin-right: 15px;
			border: none;
			border-bottom: 1px solid @clrShadow;
			padding: 0px;
			padding-top: 15px;
		}

		.newsTags {
			.font-size(13);
			.line-height(13);

			&::before {
				margin-right: 5px;
				content: "Теги:";
				text-transform: uppercase;
				color: @clrNormGray;
				font-weight: bold;
			}

			* {
				vertical-align: bottom;
				margin-right: 10px;
				color: @clrDarkGray;
			}
		}
	}

	.more {
		.btnMoreSlim;
		float: right;
		margin-top: 10px;
		margin-right: 0px;
		text-align: right;
	}
}

#feedback {
	height: 450px;
	background: url(../img/coach-full.jpg) center no-repeat fixed;
	padding: 100px 0px 80px 0px;
	color: #fff;
	position: relative;
	.font-size(18);

	.overlay{
		background:rgba(47, 82, 182, .65);
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		right: 0;
		z-index: 0;
	}

	.container {
		z-index: 2;

		.item{
			text-align: center;
		}

		.name {
			display: inline-block;

			hr {
				margin: 10px 0px;
			}
		}

		.logo-icon{
			display: inline-block;
			width: 141px;
			height: 96px;
			background: url(../img/logo.png) 0 0 no-repeat;
		}

		.contacts {
			text-align: right;

			.phone {
				margin-top: 20px;
				.font-size(30);
			}

			.socials {
				margin-top: 10px;

				ul {
					list-style: none;

					li {
						display: inline-block;

						a {
							display: inline-block;
							width: 33px;
							height: 33px;
							background-position: top;

							&:hover {
								background-position: bottom;
							}

							&.socVk {
								background-image: url(../img/socVk.png);
							}

							&.socFb {
								background-image: url(../img/socFb.png);
							}

							&.socTw {
								background-image: url(../img/socTw.png);
							}

							&.socGl {
								background-image: url(../img/socGl.png);
							}
						}
					}
				}
			}
		}

		.btnWrap {
			margin-top: 100px;
			text-align: center;

			.item {
				// margin-top: 20px;
			}

			a {
				position: relative;
				margin: 10px;
				min-width: 280px;
				display: inline-block;
				height: 55px;
				.line-height(55);
				border: none;
				background-color: rgba(255, 255, 255, 0.7);
				color: @clrBlue;

				&:hover {
					background-color: #fff;
					text-decoration: none;
				}

				&::before {
					display: inline-block;
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 60px;
					height: 60px;
					content: " ";
				}

				&.feedback::before {
					background-image: url(../img/phoneBg.png);
				}

				&.review::before {
					background-image: url(../img/notes.png);
				}
			}
		}
	}
}
